<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div class="editDIV">

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">编辑</h3>
        </div>
        <div class="panel-body">

            <form method="post"  th:action="@{/update}" role="form">
            <input type="hidden" name="_method" value="put" />
                <table class="editTable">
                <c:forEach th:each="item : ${boot}">
                    <tr>
                        <td>编号：</td>
                        <td><input type="text" name="bootid" id="bootid" value="" th:value="${item.bootid}"
                                   placeholder="请在这里输入编号"></td>
                    </tr>
                    <tr>
                        <td>姓名：</td>
                        <td><input type="text" name="bootname" id="bootname"  value="" th:value="${item.bootname}" placeholder="请在这里输入名字">
                        </td>
                    </tr>
                    <tr>
                        <td>年龄：</td>
                        <td><input type="text" name="bootage" id="bootage"  value="" th:value="${item.bootage}" placeholder="请在这里输入年龄"></td>
                    </tr>
                    <tr>
                        <td>性别：</td>
                        <td>
                  
         <input id="男" name="bootsex" value="男"  type="radio" th:checked="${#strings.contains(item.bootsex,'男')}" >男
   <input id="女" name="bootsex" value="女"  type="radio" th:checked="${#strings.contains(item.bootsex,'女')}" >女



                        </td>
                    </tr>
                    <tr>
                        <td>出生日期：</td>
                        <td><input type="date" name="bootbirthday" id="bootbirthday" th:value="${#dates.format(item.bootbirthday,'yyyy-MM-dd')}"
                                   placeholder="请在这里输入出生日期"></td>
                    </tr>
                    <tr class="submitTR">
                        <td colspan="2" align="center">
                            <input type="hidden" name="id" th:value="${item.id}">
                            <button type="submit" class="btn btn-success">提 交</button>
                        </td>

                    </tr>
                     </c:forEach>
                  </table>
            </form>
        </div>
    </div>

</div>

</body>
</html>